# Descriptive analysis

- Combining whole dataset
- Delete any null
- Make labeling for companies + sentiments
- Define BR, RR and make their analysis

In [50]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [51]:
# Visualization 
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [52]:
import pickle
#Loading from firm cleaned file
df = pd.read_excel('descript.xlsx')
df=df.drop('Unnamed: 0',axis=1)

In [53]:
df.head()

                                                TEXT  Sentiments
0  another reason failed love im poor born ordina...           1
1  2019 mercedesbenz c 300 amg c 43 first drive r...           2
2  happy birthday audi chasing maniac hope good d...           1
3             come see mercedes benz stadium atlanta           2
4  italy took cristiano ever since theyve trying ...           2

In [54]:
df.shape

(455727, 2)

In [55]:
df.Sentiments.value_counts()

2    409163
1     37462
0      9102
Name: Sentiments, dtype: int64

In [56]:
df.Sentiments.value_counts(normalize=True)

2    0.897825
1    0.082203
0    0.019972
Name: Sentiments, dtype: float64

### Loading 2nd dataset

In [57]:
company = pd.read_pickle('company_label.pkl')
company.shape

(455724, 24)

In [58]:
company.head()

,TEXT,UTC DATE,month,year,Google,google,tesla,gm,apple,ford,...,porsche,opel,waymo,aptiv,intel,baidu,toyota,renault,mitsubishi,nissan
1,Come see Mercedes Benz stadium in Atlanta...,2018-07-31 23:02:25,7,2018,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Italy took Cristiano and ever since then they’...,2018-07-31 22:53:15,7,2018,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Lookin’ good, @Matt_Hedges #MLSAllStar | @Au...",2018-07-31 23:04:43,7,2018,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AND THIS WAS HOW I LANDED AT THE MERCEDES BENZ...,2018-07-31 22:31:40,7,2018,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,a Porsche just drove past my house and I jokin...,2018-07-31 23:20:03,7,2018,False,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [59]:
dtype(company['UTC DATE'])

dtype('<M8[ns]')

In [60]:
company.month.unique()

array([ 7, 12, 10, 11,  2,  4,  1,  5,  9,  3,  8,  6])

In [61]:
company.year.unique()

array([2018, 2016, 2017, 2019])

### merging dataset

Only for time series vs BR, RR analysis

In [62]:
df['time']=company['UTC DATE']

In [63]:
df.head(2)

,TEXT,Sentiments,time
0,another reason failed love im poor born ordina...,1,NaT
1,2019 mercedesbenz c 300 amg c 43 first drive r...,2,2018-07-31 23:02:25

In [64]:
df.isnull().sum()

TEXT          13
Sentiments     0
time           3
dtype: int64

In [65]:
df["time"].fillna( method ='bfill', inplace = True)

In [66]:
df["time"].fillna( method ='ffill', inplace = True)

In [67]:
df.isnull().sum()

TEXT          13
Sentiments     0
time           0
dtype: int64

### add labels

In [68]:
df['sentiment'] = df.Sentiments.map({0:'risk', 1:'benefit', 2:'neutral'})

In [69]:
df=df.drop('Sentiments', axis=1)

In [70]:
df.head()

,TEXT,time,sentiment
0,another reason failed love im poor born ordina...,2018-07-31 23:02:25,benefit
1,2019 mercedesbenz c 300 amg c 43 first drive r...,2018-07-31 23:02:25,neutral
2,happy birthday audi chasing maniac hope good d...,2018-07-31 22:53:15,benefit
3,come see mercedes benz stadium atlanta,2018-07-31 23:04:43,neutral
4,italy took cristiano ever since theyve trying ...,2018-07-31 22:31:40,neutral

**We shall start our work from here tomorrow**

In [ ]:
df2.shape

In [ ]:
df[['ID','timestamp','User_ID','Date','Q']]=df2[['TWEET ID','TIMESTAMP','USER ID','UTC DATE','Q']]

# 2)- Code for encoding

In [ ]:
# df['labels'] = df.sent_numeric.map({'Risky':0, 'Beneficial':1, 'Neutral':2})

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
# check if any missing

df.isnull().sum()

**Do Forward filling**

In [ ]:
df.fillna( method ='ffill', inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

**remove 1st row from data**

In [ ]:
df=df.drop(index=0,axis=0)

In [ ]:
df.head(2)

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

**Labeling data**

In [ ]:
df['sentiment_labels'] = df.Sentiments.map({0:'RR', 1:'BR', 2:'Neutral'})

# Risk Rate, Benefit Rate

In [ ]:
df['sentiment_labels'].value_counts()

In [ ]:
df['sentiment_labels'].value_counts(normalize=True)

# 3)- Getting company names
from company_label notebook

In [ ]:
company = pd.read_pickle('company_label.pkl')

In [ ]:
company.head()

In [ ]:
company.shape

### 3.1)- Merging dataframes

### 3.2)-Making two classes only

getting rid of Neutral

In [ ]:
df=df[df.sentiment_labels!= "Neutral"]

In [ ]:
df.shape

**Save work**

In [ ]:
df.to_pickle('final_descript.pkl')

# 4)- Descriptive analysis

### 4a)- Word cloud

use final_descript.pkl

### 4b)- Getting company names 


from company_label notebook

### 3b)- Work on RR and BR

# END of Notebook