# Descriptive analysis

- Combining whole dataset
- Delete any null
- Make labeling for companies + sentiments
- Define BR, RR and make their analysis

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
# Visualization 
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
import pickle
#Loading from firm cleaned file
df = pd.read_pickle('descript.pkl')
df=df.drop(index=0,axis=0)

In [5]:
df.head()

,TEXT,Sentiments,sentiment_labels
1,"Another reason I failed in love is I'm poor,I ...",1,Beneficial
2,2019 Mercedes-Benz C 300 and AMG C 43 First Dr...,2,Neutral
3,"Happy birthday to the Audi chasing maniac, hop...",1,Beneficial
4,Come see Mercedes Benz stadium in Atlanta...,2,Neutral
5,Italy took Cristiano and ever since then they’...,2,Neutral

In [6]:
df2 = pd.read_csv('tweets.csv', delimiter='\t', header=None,names=['TWEET ID','TIMESTAMP','UTC DATE','USER ID','SCREEN NAME','NAME','Q','TEXT'])
df2=df2.drop(index=0,axis=0)
df2.shape

(455727, 8)

In [7]:
df2.head()

,TWEET ID,TIMESTAMP,UTC DATE,USER ID,SCREEN NAME,NAME,Q,TEXT
1,1024432968759214081,1533078827,2018-07-31 23:13:47,449700739,JamesCageWhite,jameswhite,Q3,"Another reason I failed in love is I'm poor,I ..."
2,1024437049666031616,1533079800,2018-07-31 23:30:00,16665516,therealautoblog,Autoblog,Q3,2019 Mercedes-Benz C 300 and AMG C 43 First Dr...
3,1024427674301865985,1533077565,2018-07-31 22:52:45,505065987,Outridge__84,Outridge,Q3,"Happy birthday to the Audi chasing maniac, hop..."
4,1024430109552508929,1533078145,2018-07-31 23:02:25,14785774,madkins1868,madkins1868,Q3,Come see Mercedes Benz stadium in Atlanta...
5,1024427799724130305,1533077595,2018-07-31 22:53:15,2406773050,Asensiazo,Rez,Q3,Italy took Cristiano and ever since then they’...

In [9]:
df2.head()

,TWEET ID,TIMESTAMP,UTC DATE,USER ID,SCREEN NAME,NAME,Q,TEXT
1,1024432968759214081,1533078827,2018-07-31 23:13:47,449700739,JamesCageWhite,jameswhite,Q3,"Another reason I failed in love is I'm poor,I ..."
2,1024437049666031616,1533079800,2018-07-31 23:30:00,16665516,therealautoblog,Autoblog,Q3,2019 Mercedes-Benz C 300 and AMG C 43 First Dr...
3,1024427674301865985,1533077565,2018-07-31 22:52:45,505065987,Outridge__84,Outridge,Q3,"Happy birthday to the Audi chasing maniac, hop..."
4,1024430109552508929,1533078145,2018-07-31 23:02:25,14785774,madkins1868,madkins1868,Q3,Come see Mercedes Benz stadium in Atlanta...
5,1024427799724130305,1533077595,2018-07-31 22:53:15,2406773050,Asensiazo,Rez,Q3,Italy took Cristiano and ever since then they’...

In [10]:
df2.shape

(455727, 8)

In [11]:
df[['ID','timestamp','User_ID','Date','Q']]=df2[['TWEET ID','TIMESTAMP','USER ID','UTC DATE','Q']]

**Code for encoding**

In [ ]:
# df['labels'] = df.sent_numeric.map({'Risky':0, 'Beneficial':1, 'Neutral':2})

In [12]:
df.shape

(455727, 8)

In [13]:
df.head()

,TEXT,Sentiments,sentiment_labels,ID,timestamp,User_ID,Date,Q
1,"Another reason I failed in love is I'm poor,I ...",1,Beneficial,1024432968759214081,1533078827,449700739,2018-07-31 23:13:47,Q3
2,2019 Mercedes-Benz C 300 and AMG C 43 First Dr...,2,Neutral,1024437049666031616,1533079800,16665516,2018-07-31 23:30:00,Q3
3,"Happy birthday to the Audi chasing maniac, hop...",1,Beneficial,1024427674301865985,1533077565,505065987,2018-07-31 22:52:45,Q3
4,Come see Mercedes Benz stadium in Atlanta...,2,Neutral,1024430109552508929,1533078145,14785774,2018-07-31 23:02:25,Q3
5,Italy took Cristiano and ever since then they’...,2,Neutral,1024427799724130305,1533077595,2406773050,2018-07-31 22:53:15,Q3

In [14]:
# check if any missing

df.isnull().sum()

TEXT                0
Sentiments          0
sentiment_labels    0
ID                  0
timestamp           0
User_ID             0
Date                0
Q                   0
dtype: int64

# END of Notebook